.ordered-box {
    display: inline-block;
    margin: 1mm;
    width: 1.5em;
    height: 1.5em;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
    float: left;
    border-width: 0.2em;
    border-style: outset;

    background-color: #8b8;
    color: #fd6;
    border-color: #796;
}

.ordered-box-inactive {
    background-color: #888;
    color: #fff;
    border-color: #666;
}

img.ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

.sequence-active {
    width: 64%;
    overflow: auto;
    display: inline-block;
}

textarea.sequence-text {
    width: 34%;
}

textarea.invalid {
    background-color: #f44;
}

.capacitybar {
    display: inline-block;
    width: 25%;
    height: 1em;k
}

.widgetgroup {
    width: 100%;
    vertical-align: middle;
}

.playing-card {
    width: 2em;
    height: 3em;
    line-height: 1.5em;

    background-color: #ddd;
}

.suit-red {
    color: #f00;
}

.suit-black {
    color: #000;
}

.sublabel {
    line-height: 1em;
    font-size: 75%;
}

