<div class="widgetgroup">
Sequence length:
<input id="stega_sequencelength">
</div>

<div class="widgetgroup">
Message:
<input id="stega_message">
<div id="stega_capacitybar" class="capacitybar"></div>
<input id="stega_padded_message" readonly>
</div>

<div class="widgetgroup">
Password (optional):
<input id="stega_password" value="" type="password">
</div>

<div class="widgetgroup">
<input id="stega_hide" type="button" value="Encode">
<input id="stega_extract" type="button" value="Extract">
</div>


<div class="widgetgroup">
<div class="sequence-active" id="stega_sequence_active">
</div>
<textarea id="stega_sequencetext" class="sequence-text">
</textarea>
</div>


